
.article-title {
    text-align: left;
    font-size: 28px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.article-meta {
    flex-wrap: wrap;
    font-size: 14px;
    color: #666;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 下边框使用半透明颜色 */
}

.md-content{
    min-height: 600px;
}

.meta-item {
    margin-right: 3px;
}

.edit-button {
    padding: 0 10px; /* 编辑按钮的左右内边距 */
    cursor: pointer; /* 鼠标悬停时显示为手型 */
    white-space: nowrap; /* 防止文本换行 */
}
.edit-button:hover {
    color: #ff8721;
}

.catalog-head{
    margin-top: 20px;

}
.catalog {
    overflow-x: auto;
    margin: 10px;
    max-height: 600px;
    overflow-y: auto; /* 启用垂直滚动条 */
    scrollbar-width: thin; /* 针对 Firefox 设置滚动条宽度 */
    scrollbar-color: #d4d4d4 transparent; /* Firefox 滚动条颜色 */
}

