
.list-card {
    display: flex;
    align-items: center;
    height: 150px;

}

.list-card:hover {
    .item-title {
        color: #ff8721;
    }
}

.list-card {
    border-radius: 10px;
    display: flex;
    align-items: center; /* 图片和内容顶部对齐 */
}

.item-img {
    width: 100px; /* 固定宽度 */
    height: 120px;
    object-fit: scale-down; /*保持原有尺寸比例。 */
    border-radius: 5px; /* 图片圆角处理 */
}

.item-content {
    flex-direction: column;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.item-summary {
    margin: 5px 0 20px 10px;
    height: 38px;
    padding-right: 15px;
    overflow: hidden;
    line-height: 1.5;
    display: -webkit-box; /* 使用弹性盒子模型 */
    -webkit-line-clamp: 2; /* 限制显示2行 */
    -webkit-box-orient: vertical; /* 垂直布局 */
    text-overflow: ellipsis; /* 超出显示省略号 */
    color: #666;
    font-size: 14px;
}

.item-meta {
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    color: #999;
}


@media (max-width: 768px) {
    .item-title {
        font-size: 16px;
    }

    .item-meta {
        font-size: 10px;
    }
}